{% extends "index.html" %}
 {% block title %} Inicio {% endblock title %}

{% block background %}{% load static %}{% static 'img/foto3.png' %}{% endblock %}

{% block headers %}  <h1>YOUNG LIVING ACADEMY</h1>
    <span class="subheading">INICIO</span> {% endblock %}


{% block content %}
    <h2> QUIÉNES SOMOS </h2>
    <p>
    Unidad educativa auspiciada por Fundación D. Gary Young, Young Living, con el fin de brindar educación de calidad a niños y jóvenes de Chongón, para que puedan desarrollar su máximo potencial, mejorar sus vidas, la de sus familias y su comunidad, formándose como los futuros líderes del Ecuador.
    </p>
{% endblock %}

